@page

@model CronTab.Net.Web.Pages.Test
@{
    string data1 = "Kraków";
    string data2 = "John Doe";
    string[] columnes = new[] { "Id" };
    object[] values = new Object[] { 12 };
}
<p>tutaj2</p>
<tabler-table>
    <tabler-head for-columns="columnes">
    </tabler-head>
    <tabler-body for-rows="values"></tabler-body>
</tabler-table>

