@page

@model CronTab.Net.Web.Pages.Test
@{
    string data1 = "Kraków";
    string data2 = "John Doe";
    string[] columns = new[] { "Cron","Value" };
    dynamic[] values = new[] { new { Id = 12, Name = "Drakon" } };
}
<p>tutaj2</p>
<tabler-table>
    <tabler-table-columns source="columns">
    </tabler-table-columns>
    <tabler-table-rows>
    @foreach (var item in values)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
        </tr>
    }
    </tabler-table-rows>
</tabler-table>
